variables{
  --angle;
  --leftCircle;
  --topCircle;
}
body{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container{
	width: 46vw;
	height: 46vw;
	border-radius: 50%;
	margin: auto;
	position: relative;

	box-shadow: 5px 5px 25px #000;
}

#needleSec{
	width: 0.50vw;
	height: 18vw;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	border: 1px solid black;
	border-radius: 50%;
	transform-origin: top;
	transform: translateX(-50%) rotate(var(--angle));
	animation-duration: 3s;
  	animation-name: slidein;
  	transition: opacity 2s ease-out;
  
}



#needleHour{
	width: 1vw;
	height:13vw;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	border: 1px solid black;
	border-radius: 50%;
	transform-origin: top;
	transform: translateX(-50%) rotate(var(--angle));
	animation-duration: 3s;
  	animation-name: slidein;
  	transition: opacity 2s ease-out;
}
@keyframes slidein2 {
  from {

   
  }

	to {
		left:50%;
		top: 50%;

}
}

