variables{
  --angle;
  --randomLeft;
  --randomTop;
  --leftCircle;
  --topCircle;
}

#container{
	width: 50vw;
	height: 50vw;
	border-radius: 50%;
	margin: auto;
	position: relative;
	box-shadow: 5px 5px 25px #000;
	transition-duration: 2s;
	transition-property: 'background-color';

}

#needleSec{
	width: 0.50vw;
	height: 21vw;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 1px solid black;
	border-radius: 50%;
	transform-origin: top;
	transform: translateX(-50%) rotate(var(--angle));
	animation-duration: 3s;
  	animation-name: slidein;
}



#needleHour{
	width: 1vw;
	height: 17vw;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 1px solid black;
	border-radius: 50%;
	transform-origin: top;
	transform: translateX(-50%) rotate(var(--angle));
	animation-duration: 3s;
  	animation-name: slidein;
}
@keyframes slidein2 {
  from {
 /*   left: var(--randomLeft);
	top: var(--randomTop);*/
   
  }

	to {
		left:50%;
		top: 50%;

}
}

